@media screen and (min-width: 768px) {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 100px;
    font-family: Roboto;
  }

  .login-website-desktop-img {
    height: 373px;
    width: 583px;
    left: 160px;
    top: 326px;
    border-radius: 0px;
  }
  .login-website-logo-image {
    width: 82px;
    height: 42px;
    top: 60px;
    left: 187px;
  }

  .website-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #262626;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 350px;
    box-shadow: 0px 8px 40px 0px #07070714;
    width: 456px;
    height: 458px;
    top: 283px;
    left: 824px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .input-label {
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1%;
    color: #262626;
  }

  .username-input-field {
    font-size: 12px;
    font-family: 'Roboto';
    height: 24px;
    border: 1px solid #d7dfe9;
    background-color: #eeeeee;
    color: #262626;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    line-height: 16px;
    outline: none;
  }

  .password-input-field {
    font-size: 12px;
    border: 1px solid #d7dfe9;
    background-color: #eeeeee;
    color: #262626;
    font-weight: 500;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
  }

  .login-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: #4094ef;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .error-message {
    align-self: start;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 16.41px;
    color: #ef4444;
  }
}

@media screen and (max-width: 767px) {
  .login-website-desktop-img {
    display: none;
  }

  .login-container {
    display: flex;
    height: 100vh;
    align-items: center;
  }

  .login-website-logo-image {
    width: 82px;
    height: 42px;
    top: 60px;
    left: 187px;
  }

  .website-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #262626;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 350px;
    box-shadow: 0px 8px 40px 0px #07070714;
    width: 456px;
    height: 458px;
    top: 283px;
    left: 824px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .input-label {
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1%;
    color: #262626;
  }

  .username-input-field {
    font-size: 12px;
    font-family: 'Roboto';
    height: 24px;
    border: 1px solid #d7dfe9;
    background-color: #eeeeee;
    color: #262626;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    line-height: 16px;
    outline: none;
  }

  .password-input-field {
    font-size: 12px;
    border: 1px solid #d7dfe9;
    background-color: #eeeeee;
    color: #262626;
    font-weight: 500;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
  }

  .login-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: #4094ef;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .error-message {
    align-self: start;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 16.41px;
    color: #ef4444;
  }
}
